<tr>
    <td class="" style="vertical-align: top; padding: 10px 4px; border-bottom: none; text-align: left; white-space: nowrap;">                
        <a href="${Ref}"><span class="monospaced">${id}</span></a>
    </td>            
    <td class="" style="vertical-align: top; padding: 10px 4px; border-bottom: none; text-align: left; white-space: normal; width: 99%; word-break: break-word;">
    ${Message}
    </td>            
    <td class="" style="vertical-align: top; padding: 10px 4px; border-bottom: none; text-align: left; white-space: nowrap;">
    ${Author}
    </td>        
</tr>