<tr>
    <td class="" style="vertical-align: top; padding: 10px 4px; border-bottom: none; text-align: left; white-space: nowrap;">                
        <a href="${Ref}">${WorkItemType} ${id}</a>
    </td>            
    <td class="" style="vertical-align: top; padding: 10px 4px; border-bottom: none; text-align: left; white-space: normal; width: 99%; word-break: break-word;">
    ${Title}
    </td>            
    <td class="" style="vertical-align: top; padding: 10px 4px; border-bottom: none; text-align: left; white-space: nowrap; color: #666666;">
    ${State}
    </td>
</tr>